<appSettings>
    <!-- Urls to WebService -->
    <!--
        <add key="AdInsure:Settings:WebService:InternetRoot" value="http://remoteServer/Adacta.IIS.WebService" />
        <add key="AdInsure:Settings:WebService:Root" value="http://remoteServer/Adacta.IIS.WebService" />
        <add key="AdInsure:Settings:WebService:AlternativeRoot" value="http://remoteServer/Adacta.IIS.WebService" />
    -->

    <!-- Endpoint Url to IdentityServer used for Authorization -->
    <!-- <add key="AdInsure:Settings:OAuthIdentity:IdentityEndpointUrl" value="https://remoteServer/AdInsure.IdentityServer/Identity"/> -->
    
    <!-- Language used by AdInsure -->
    <add key="AdInsure:Settings:General:Language" value="ru-RU" />
</appSettings>
