<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="identityServer3" type="IdentityServer3.Configuration.Sections.IdentityServer3Section, IdentityServer3.Configuration" />
    <section name="identityServer3Clients" type="IdentityServer3.Configuration.Sections.IdentityServer3ClientsSection, IdentityServer3.Configuration" />
  </configSections>

  <connectionStrings>
	<!-- Local Oracle environment -->
	<!-- <add name="Database" connectionString="Host=localhost;Direct=true;Service Name=PDB_BASIC_TEST.si.corp.adacta-group.com;User ID=ADINSURE;Password=adinsure;Unicode=true;" providerName="Devart.Data.Oracle" /> -->

	<!-- Local MSSQL environment -->
	<!-- <add name="Database" connectionString="Data Source=localhost;Initial Catalog=AdInsure_Basic_STG_TEST;User ID=adinsure;Password=adinsure;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /> -->	

	<!-- Development Oracle environment -->
	<add name="Database" connectionString="Host=DBFIS-MO-02;Direct=true;Service Name=adi_vskdev2.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true;Max Pool Size=500" providerName="Devart.Data.Oracle" />
	
  <!-- Development MSSQL environment -->
	<!-- <add name="Database" connectionString="Data Source=DBFIS-LJ-03;Initial Catalog=AdInsure_Basic_Dev;User ID=adinsure;Password=adinsure;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /> -->

	<!-- Oracle Staging environment -->
	<!--<add name="Database" connectionString="Host=fisdev-lj-18;Direct=true;Service Name=PDB_BASIC_STG_TEST.si.corp.adacta-group.com;User ID=ADINSURE;Password=adinsure;Unicode=true;" providerName="Devart.Data.Oracle" />-->
	
	<!-- MSSQL Staging environment -->
	<!--<add name="Database" connectionString="Data Source=DBFIS-LJ-03;Initial Catalog=AdInsure_Basic_STG_TEST;User ID=adinsure;Password=adinsure;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <identityServer3Clients configSource="clients.config" />
  <identityServer3>

    <!-- server options -->
    <serverOptions siteName="AdInsure Identity Server" requireSsl="false">
      <authenticationOptions enablePostSignOutAutoRedirect="true">
      </authenticationOptions>

      <signingCertificate loadFromFile="false" storeName="My" storeLocation="LocalMachine">
        <findCriterias>
          <add findType="FindByThumbprint" findValue="6b 7a cc 52 03 05 bf db 4f 72 52 da eb 21 77 cc 09 1f aa e1" validOnly="true" />
        </findCriterias>
      </signingCertificate>


      <loggingOptions enableHttpLogging="false" enableKatanaLogging="true" enableWebApiDiagnostics="true" webApiDiagnosticsIsVerbose="true" />
    </serverOptions>
    <!-- scopes -->
    <scopes>
      <scope description="Access to a AdInsure" displayName="AdInsure" enabled="true" includeAllClaimsForUser="true" name="adinsure" type="Resource" />
    </scopes>
  </identityServer3>

  <appSettings>
		<add key="owin:appBaseAddress" value="http://localhost/AdInsure.VSK.IdentityServer/identity" />
		<add key="owin:hasWindowsAuthEnabled" value="1" />
		<add key="LoginDomain:SI" value="dcsi-lj-02" />
		<add key="LoginDomain:CRM" value="crmdc-lj-01.adcrm.loc" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <security>
            <authentication>
                <windowsAuthentication enabled="true" />
            </authentication>
        </security>
        <directoryBrowse enabled="true" />
  </system.webServer>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target xsi:type="File" name="file-debug" fileName="c:\logs\identity-server\identity_server-debug-${date:format=yyyy-MM-dd}.txt" />
      <target xsi:type="File" name="file-trace" fileName="C:\logs\identity-server\identity_server-trace-${date:format=yyyy-MM-dd}.txt" />
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="file-trace" />
      <logger name="*" level="Debug" writeTo="file-debug" />
    </rules>
  </nlog>
  <system.data>
      <DbProviderFactories>
          <remove invariant="Devart.Data.Oracle" />
          <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.5.592.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
      </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>