<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheConfiguration" type="Adacta.AdInsure.Framework.Core.Cache.CacheConfigurationSection, Adacta.AdInsure.Framework.Core" />
   </configSections>

  <cacheConfiguration configSource="CacheConfiguration.config" />
  
  <appSettings file="conf\ImplementationConfiguration.config">
    <add key="AdInsure:Settings:WebService:InternetRoot" value="http://localhost/AdInsure.VSK.WebService_rc" />
    <add key="AdInsure:Settings:WebService:Root" value="http://localhost/AdInsure.VSK.WebService_rc" />
    <add key="AdInsure:Settings:WebService:AlternativeRoot" value="http://localhost/AdInsure.VSK.WebService_rc" />
    <add key="AdInsure:Settings:WebService:RootRequestTimeOut" value="5000" />
    <add key="AdInsure:Settings:WebService:Sifranti" value="Sifranti.asmx" />
    <add key="AdInsure:Settings:WebService:Osebe" value="Osebe.asmx" />
    <add key="AdInsure:Settings:WebService:Topology" value="Topology.asmx" />
    <add key="AdInsure:Settings:WebService:Produkti" value="Produkti.asmx" />
    <add key="AdInsure:Settings:WebService:Pooblastila" value="Pooblastila.asmx" />
    <add key="AdInsure:Settings:WebService:Pozavarovanje" value="Pozavarovanje.asmx" />
    <add key="AdInsure:Settings:WebService:Pogodbe" value="Pogodbe.asmx" />
    <add key="AdInsure:Settings:WebService:Skode" value="Skode.asmx" />
    <add key="AdInsure:Settings:WebService:Regresi" value="Regresi.asmx" />
    <add key="AdInsure:Settings:WebService:Eurotax" value="Eurotax.asmx" />
    <add key="AdInsure:Settings:WebService:DenarniTok" value="DenarniTok.asmx" />
    <add key="AdInsure:Settings:WebService:Knjigovodstvo" value="Knjigovodstvo.asmx" />
    <add key="AdInsure:Settings:WebService:Valute" value="Valute.asmx" />
    <add key="AdInsure:Settings:WebService:Sinhronizacija" value="Sinhronizacija.asmx" />
    <add key="AdInsure:Settings:WebService:Provizioniranje" value="Provizioniranje.asmx" />
    <add key="AdInsure:Settings:WebService:Administracija" value="Administracija.asmx" />
    <add key="AdInsure:Settings:WebService:DownloadServerName" value="localhost" />
    <add key="AdInsure:Settings:WebService:DownloadFile" value="DownloadFile.aspx" />
    <add key="AdInsure:Settings:WebService:UploadFile" value="UploadFile.aspx" />
    <add key="AdInsure:Settings:WebService:Izvrsbe" value="Izvrsbe.asmx" />
    <add key="AdInsure:Settings:WebService:Service" value="Service.asmx" />
    <add key="AdInsure:Settings:WebService:IWcfPortal" value="CslaPortalWithRequestLogging.svc" />
    <add key="AdInsure:Settings:WebService:IClientService" value="ClientService.svc" />
    <add key="AdInsure:Settings:WebService:IAdminService" value="AdminService.svc" />
    <add key="AdInsure:Settings:WebService:ILargeFileService" value="LargeFileProcessing.svc" />
    <add key="AdInsure:Settings:Security:Enabled" value="true" />
    <add key="AdInsure:Settings:Security:DefaultOsebaId" value="-1" />
    <!-- When true and domain authentication is used, Ntlm is used instead of defaults (Negotiate, Kerberos...) -->
    <add key="AdInsure:Settings:Security:ForceNtlm" value="false" />
    <add key="AdInsure:Settings:Log:LogRoot" value="Logs" />
    <add key="AdInsure:Settings:Log:LogLevel" value="CRITICAL" />
    <add key="AdInsure:Settings:Log:TimingThreshold" value="0" />
    <add key="AdInsure:Settings:OAuthIdentity:IdentityEndpointUrl" value="http://localhost/AdInsure.VSK.IdentityServer/Identity" />
    <add key="AdInsure:Settings:OAuthIdentity:ClientName" value="adinsure_desktop_client_hibrid" />
    <add key="AdInsure:Settings:OAuthIdentity:ClientSecret" value="19A8E20D-63BC-4B77-9E20-A69D51B22492" />
    <add key="AdInsure:Settings:OAuthIdentity:RequiredScopes" value="adinsure openid" />
    <!--Ali ignoriram posodobitev config datoteke, 1=ignorram-->
    <add key="AdInsure:Settings:General:UpdateConfig" value="1" />
    <add key="AdInsure:Settings:General:Test" value="1" />
    <add key="AdInsure:Settings:General:TranslationTest" value="0" />
    <add key="AdInsure:Settings:General:AutoOpenLastView" value="0" />
    <add key="AdInsure:Settings:General:ZivNovTargetDir" value="C:\COIN\" />
    <add key="AdInsure:Settings:General:ZivNovTargetExeDir" value="C:\COIN\ZIVNOV\" />
    <add key="AdInsure:Settings:General:AppName" value="AdInsure" />
    <add key="AdInsure:Settings:General:Language" value="ru-RU" />
    <!-- Set EnvironmentId to separate caching on servers with multiple environments -->
    <!--<add key="AdInsure:Settings:General:EnvironmentId" value="trunk" />-->
    <!--<add key="AdInsure:Settings:General:AllowOnlyOneInstance" value="false"/>-->
    <!-- set UICulture only if OS culture is not the one you want -->
    <!--<add key="AdInsure:Settings:General:UICulture" value="en-US"/>-->
    <!-- set DataSet's Culture, value "0" is reserved for InvariantCulture -->
    <!--<add key="AdInsure:Settings:General:AdDataSetCulture" value="en-US"/>-->
    <add key="AdInsure:Settings:General:BusinessConcealment" value="" />

    <add key="CslaDataPortalProxyFactory" value="Adacta.IIS.Client.Framework.WebService.CslaProxyFactory, Adacta.IIS.Client.Framework" />
    <add key="CslaAuthentication" value="Csla" />

    <!-- Specif where assemblies and certificate are stored -->
    <add key="AdInsure:Settings:Plugins:FolderPath" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.5.592.0" newVersion="8.5.592.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Adacta.AdVelocity.ServiceContracts" publicKeyToken="10b0d8a35c66dc98" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
