<appSettings>
	<!-- adacta prod -->
	<add key="AdInsure:Settings:Database:Main" value="Adacta.Utilities.Data.DbProvider=ORADC;Host=DBFIS-MO-02.si.corp.adacta-group.com;Direct=true;Service Name=adi_vsk_prod.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true" />
	<add key="AdInsure:Settings:Database:Provider" value="Devart.Data.Oracle" />
	<add key="AdInsure:Settings:Database:MainSovereign" value="Adacta.Utilities.Data.DbProvider=ORADC;Host=DBFIS-MO-02.si.corp.adacta-group.com;Direct=true;Service Name=adi_vsk_prod.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true" />
	<add key="AdInsure:Settings:Database:Adacta.IIS.Obdelave" value="Adacta.Utilities.Data.DbProvider=ORADC;Host=DBFIS-MO-02.si.corp.adacta-group.com;Direct=true;Service Name=adi_vsk_prod.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true" />

    <!-- dev2 -->
    <add key="AdInsure:Settings:Database:Main" value="Adacta.Utilities.Data.DbProvider=ORADC;Host=DBFIS-MO-02;Direct=true;Service Name=adi_vskdev2.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true" />
	<add key="AdInsure:Settings:Database:Provider" value="Devart.Data.Oracle" />
	<add key="AdInsure:Settings:Database:MainSovereign" value="Adacta.Utilities.Data.DbProvider=ORADC;Host=DBFIS-MO-02;Direct=true;Service Name=adi_vskdev2.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true" />
	<add key="AdInsure:Settings:Database:Adacta.IIS.Obdelave" value="Adacta.Utilities.Data.DbProvider=ORADC;Host=DBFIS-MO-02;Direct=true;Service Name=adi_vskdev2.si.corp.adacta-group.com;User ID=ADINSURE_VSK_TRUNK;Password=adinsure;Unicode=true" />

    

	<!-- Integration of AdInsure with ActiveMQ -->
	<add key="AdInsure:MessageBroker:Uri" value="activemq:tcp://dbfis-mo-02:61050" />
	<add key="AdInsure:MessageBroker:Username" value="user" />
	<add key="AdInsure:MessageBroker:Password" value="user" />
</appSettings>