<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net2" />
    <section name="trustedSystemConfiguration" type="Adacta.AdInsure.Framework.Core.Configuration.TrustedSubsystemConfigurationSection,Adacta.AdInsure.Framework.Core" />
    <section name="cacheConfiguration" type="Adacta.AdInsure.Framework.Core.Cache.CacheConfigurationSection, Adacta.AdInsure.Framework.Core" />
    <section name="LoggingServicesConfiguration" type="Adacta.AdInsure.Framework.Core.ServiceLogging.LoggingServiceConfigurationSection, Adacta.AdInsure.Framework.Core" />
    <sectionGroup name="common">
      <section name="logging" type="Adacta.AdInsure.Framework.Core.Logging.CommonLoggingConfigurationSectionHandler, Adacta.AdInsure.Framework.Core" />
    </sectionGroup>

  </configSections>
  <location path="." inheritInChildApplications="false">
    <trustedSystemConfiguration configSource="conf\TrustedSettings.config" />
    <LoggingServicesConfiguration configSource="conf\LoggingServicesConfiguration.config" />
    <cacheConfiguration configSource="CacheConfiguration.config" />
  </location>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1215">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings file="conf\ImplementationConfiguration.config">
    <add key="CslaAuthentication" value="Csla" />
    <add key="DocumentClassificationProcessId" value="1" />
    <add key="UseMonitorApp" value="false" />
    <add key="AdInsure:Settings:Database:Main" value="" />
    <add key="AdInsure:Settings:Database:Provider" value="" />
    <add key="AdInsure:Settings:Database:MainSovereign" value="" />
    <add key="AdInsure:Settings:Log:LogRoot" value="Logs" />
    <add key="AdInsure:Settings:Log:LogLevel" value="DEBUG" />
    <add key="AdInsure:Settings:Log:TimingThreshold" value="0" />
    <add key="AdInsure:Settings:Log:TimingThresholdReading" value="0" />
    <!-- log queries with execution time larger than "value" (in miliseconds) -->
    <add key="AdInsure:Settings:Eurotax:Language" value="SISI" />
    <add key="AdInsure:Settings:Eurotax:Market" value="SI" />
    <add key="AdInsure:Settings:OAuthIdentity:IdentityEndpointUrl" value="http://localhost/AdInsure.VSK.IdentityServer/Identity" />
    <add key="AdInsure:Settings:OAuthIdentity:RequiredScopes" value="adinsure" />
    <!-- indicates whether WebApi requests using xml as content type should be validated against XSD schema -->
    <add key="AdInsure:Settings:WebApi:request_xml_validation" value="true" />
    <!-- folder containing XSD files -->
    <add key="AdInsure:Settings:WebApi:request_xml_schema_folders" value="Integration" />
    <!-- comma separated list of XSD resource assembly names -->
    <add key="AdInsure:Settings:WebApi:request_xml_schema_resource_assemblies" value="" />
    <add key="AdInsure:Settings:DocumentManagement:SharePointSite" value="spdev-lj-01" />
    <add key="AdInsure:Settings:DocumentManagement:SharePointSiteUrl" value="http://spdev-lj-01" />
    <add key="AdInsure:Settings:DocumentManagement:SharePointTokenIssuerId" value="163ff3af-e344-4832-925c-4fe30952d085" />
    <add key="AdInsure:Settings:DocumentManagement:SharePointAuthRealm" value="27a88a92-fe5d-4afd-bcf8-127c0765176c" />
    <add key="AdInsure:Settings:DocumentManagement:SharePointCertificateThumb" value="‎899896ED1C54010F5E9134846DEBEF48CB3D542B" />
    <add key="AdInsure:Settings:DocumentManagement:TokenExpires" value="2" />
    <!-- Ali se proces avtentikacije in avtorizacije sploh izvaja? -->
    <add key="AdInsure:Settings:Security:Enabled" value="true" />
    <!-- Privzeti uporabnik (za potrebe testiranja - ne velja za release build) -->
    <add key="AdInsure:Settings:Security:DefaultOsebaId" value="-1" />
    <!-- Usernames allowed to impersonate other users, separated by commas -->
    <!--<add key="AdInsure:Settings:Security:TrustedUsers" value="username" />-->
    <add key="AdInsure:Settings:DownloadFile:Path" value="C:\Logs" />
    <add key="AdInsure:Settings:RemoteProcessingsServer:URIRoot" value="tcp://localhost:8228" />
    <!--
		    ESSearch : Use ElasticSearch Search in WebService and Client
		    ESURL: ElasticSearch cluster URI
		    EsIndex: Name of ElasticSearch index
	        -->
    <add key="AdInsure:Settings:General:ESSearch" value="true" />
    <add key="AdInsure:Settings:General:ESURL" value="http://dbfis-mo-02.si.corp.adacta-group.com:9315" />
    <add key="AdInsure:Settings:General:ESIndex" value="adi_vsk_rc_new" />
    <!-- DEVELOPMENT, TEST, PRODUCTION-->
    <add key="AdInsure:Settings:General:Environment" value="DEVELOPMENT" />
    <add key="AdInsure:Settings:General:ExternalWebService" value="0" />
    <!-- set DataSet's Culture, value "0" is reserved for InvariantCulture -->
    <!--<add key="AdInsure:Settings:General:AdDataSetCulture" value="en-US"/>-->
    <add key="AdInsure:Settings:General:LogRequestStart" value="0" />
    <add key="AdInsure:Settings:General:SendAllExceptionsToClients" value="1" />
    <add key="AdInsure:Settings:General:DocumentManagement:FileStorageRoot" value="C:\UPLOAD\" />
    <add key="AdInsure:Settings:General:Language" value="ru-RU" />
    <!-- If this flag is set to true, all CSLA requests will be logged in separate log file. -->
    <add key="AdInsure:Settings:General:DataPortalCallTrace" value="false" />
    <add key="owin:AppStartup" value="AdInsure.VSK.WebService.Startup" />
    <!-- Specif where assemblies and certificate are stored -->
    <add key="AdInsure:Settings:Plugins:FolderPath" value="" />
    <!-- Settings for Active MQ-->
    <add key="AdInsure:MessageBroker:Uri" value="activemq:tcp://localhost:61616" />
    <add key="AdInsure:MessageBroker:Username" value="user" />
    <add key="AdInsure:MessageBroker:Password" value="user" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxRequestLength="2147483647" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ApiService" />
      <add name="ApiService" verb="*" path="api" type="Adacta.IIS.Business.API.Core.Service.APIServiceController" allowPathInfo="true" preCondition="managedHandler" modules="ManagedPipelineHandler" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="CORSBehavior" type="Adacta.Utilities.WCF.CorsSupportBehaviorElement, Adacta.Utilities" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxBytesPerRead="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647" maxDepth="2000000" />
          <security mode="None" />
        </binding>
        <binding name="HttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxBytesPerRead="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647" maxDepth="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="HttpsBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxBytesPerRead="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="2147483647" maxDepth="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBindingStreamedMtom" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="10737418240" transferMode="Streamed" messageEncoding="Mtom">
          <!--<security mode="Transport"><transport clientCredentialType="Windows" /></security>-->
        </binding>
        <binding name="AdVelocityBasicHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="10485760" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxBytesPerRead="10485760" maxArrayLength="10485760" maxStringContentLength="10485760" maxNameTableCharCount="10485760" maxDepth="512" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingWithJSONP" maxReceivedMessageSize="104857600" maxBufferSize="104857600" maxBufferPoolSize="104857600">
          <readerQuotas maxDepth="32" maxArrayLength="104857600" maxStringContentLength="104857600" />
        </binding>
      </webHttpBinding>
    </bindings>
	<client configSource="conf\ServiceModel.ClientConfiguration.config" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="SOAPEndpointBehavior" />
        <behavior name="RESTEndpointBehavior">
          <webHttp />
          <CORSBehavior exposeHeaders="X-Auth-Token" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceAuthorization>
            <authorizationPolicies>
              <add policyType="Adacta.IIS.WebService.HttpContextAuthorizationPolicy, Adacta.IIS.WebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="returnFaults">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="returnFaultsIntegration">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="HttpGetEnabled">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="web/auth.svc" service="Adacta.IIS.Web.Business.Services.Authentication.AuthenticationService" />
        <add relativeAddress="web/locale.svc" service="Adacta.IIS.Web.Business.Services.Public.LocalizationService" />
        <add relativeAddress="web/services/ESDocument.svc" service="Adacta.IIS.ES.ESDocumentService" />
        <add relativeAddress="LargeFileProcessing.svc" service="Adacta.IIS.Business.LargeFileProcessing.LargeFileService" />
        <add relativeAddress="PersonManager.svc" service="Adacta.IIS.Business.Integration.WS.PersonManagerService" />
        <add relativeAddress="PolicyManager.svc" service="Adacta.IIS.Business.Integration.WS.PolicyManagerService" />
        <add relativeAddress="ClaimsManager.svc" service="Adacta.IIS.Business.Integration.WS.ClaimsManagerService" />
        <add relativeAddress="ESBIncoming.svc" service="Adacta.IIS.ESB.Service.WS.ESBIncomingService" />
        <add relativeAddress="WcfPortal.svc" service="Csla.Server.Hosts.WcfPortal" />
        <add relativeAddress="ClientService.svc" service="AdInsure.AdVelocity.Business.AdVelocity.ClientService" />
        <add relativeAddress="AdminService.svc" service="AdInsure.AdVelocity.Business.AdVelocity.AdminService" />
        <add relativeAddress="VSKIncoming.svc" service="AdInsure.VSK.Business.ESB.WS.VSKIncomingService" />
        <add relativeAddress="StimulSoftLocalTest.svc" service="AdInsure.VSK.Business.Integration.WS.StimulSoftLocalService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="Csla.Server.Hosts.WcfPortal" behaviorConfiguration="returnFaults">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="Csla.Server.Hosts.IWcfPortal" />
        <!-- Uncomment both SSL endpoints only if IIS is configured for HTTPS and comment both http endpoints. All 4 endpoints can NOT be active at the same time - IIS exception! -->
        <!--<endpoint address="ssl"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpsBinding"
                  contract="Csla.Server.Hosts.IWcfPortal" />
        <endpoint address="ssl/windows"
                  binding="basicHttpBinding"
                  bindingConfiguration="HttpsWindowsBinding"
                  contract="Csla.Server.Hosts.IWcfPortal" />-->
      </service>
      <service name="Adacta.IIS.Business.Integration.WS.PolicyManagerService" behaviorConfiguration="returnFaultsIntegration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="Adacta.IIS.Business.Integration.WS.IPolicyManagerService" />
      </service>
      <service name="Adacta.IIS.Business.Integration.WS.ClaimsManagerService" behaviorConfiguration="returnFaultsIntegration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="Adacta.IIS.Business.Integration.WS.IClaimsManagerService" />
      </service>
      <service name="Adacta.IIS.Business.Integration.WS.PersonManagerService" behaviorConfiguration="returnFaultsIntegration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="Adacta.IIS.Business.Integration.WS.IPersonManagerService" />
      </service>
      <service name="Adacta.IIS.ESB.Service.WS.ESBIncomingService" behaviorConfiguration="returnFaults">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="Adacta.IIS.ESB.Service.WS.IESBIncomingService" />
      </service>
      <service name="Adacta.IIS.ES.ESDocumentService" behaviorConfiguration="returnFaults">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="HttpBinding" behaviorConfiguration="SOAPEndpointBehavior" contract="Adacta.IIS.ES.IESDocumentService" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="RESTEndpointBehavior" contract="Adacta.IIS.ES.IESDocumentService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Adacta.IIS.Web.Business.Services.Authentication.AuthenticationService" behaviorConfiguration="returnFaults">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="HttpBinding" behaviorConfiguration="SOAPEndpointBehavior" contract="Adacta.IIS.Web.Business.Services.Authentication.IAuthenticationService" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="RESTEndpointBehavior" contract="Adacta.IIS.Web.Business.Services.Authentication.IAuthenticationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Adacta.IIS.Web.Business.Services.Public.LocalizationService" behaviorConfiguration="returnFaults">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="HttpBinding" behaviorConfiguration="SOAPEndpointBehavior" contract="Adacta.IIS.Web.Business.Services.Public.ILocalizationService" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="RESTEndpointBehavior" contract="Adacta.IIS.Web.Business.Services.Public.ILocalizationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Adacta.IIS.Business.LargeFileProcessing.LargeFileService" behaviorConfiguration="returnFaults">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingStreamedMtom" contract="Adacta.IIS.Business.Contracts.LargeFileProcessing.ILargeFileService" />
      </service>
      <service name="AdInsure.AdVelocity.Business.AdVelocity.ClientService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="Adacta.AdVelocity.ServiceContracts.Interfaces.IClientService" />
      </service>
      <service name="AdInsure.AdVelocity.Business.AdVelocity.AdminService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="Adacta.AdVelocity.ServiceContracts.Interfaces.IAdminService" />
      </service>
      <service name="AdInsure.VSK.Business.ESB.WS.VSKIncomingService" behaviorConfiguration="returnFaultsIntegration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="AdInsure.VSK.Business.ESB.WS.IVSKIncomingService" />
      </service>
      <service name="AdInsure.VSK.Business.Integration.WS.StimulSoftLocalService" behaviorConfiguration="returnFaultsIntegration">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBinding" contract="AdInsure.VSK.Business.Integration.WS.IStimulSoftLocalService" />
      </service>
    </services>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle" />
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.5.592.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.3894" newVersion="1.7.1.3894" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.Oracle" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.5.592.0" newVersion="8.5.592.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Adacta.AdVelocity.ServiceContracts" publicKeyToken="10b0d8a35c66dc98" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>